* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

<<<<<<< HEAD
=======
body {
   font-family: 'Archivo', sans-serif
}

>>>>>>> 527a2ce (costomazation and some chnges)
ul {
   list-style: none;
}

a:hover {
   text-decoration: none !important;
}

button:focus {
   outline: 0 !important;
}

.pd-y {
   padding: 50px 0;
}

