#about {
   .about-info {
      .about-btn {
         background-color: $mainColor;
         &:hover {
            &:before {
               width: 100%;
            }
         }
      }
   }
   .about-img {
      position: relative;
      margin: auto;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      overflow: hidden;
      &:hover {
         .overlay-effect {
            opacity: 1;
            visibility: visible;
            .social-media {
               margin: 0;
            }
         }
      }
   }
}